<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="haha" class="com.study.springboot2study.bean.User">
        <property name="user" value="zh"/>
        <property name="age" value="12"/>
    </bean>

    <bean id="hehe" class="com.study.springboot2study.bean.Pet">
        <property name="name" value="wc"/>
    </bean>
</beans>