/*.markdown-preview-view::after {  This was the previous line*/

/* 自定义背景图 */
.markdown-source-view,
.markdown-preview-view{
  opacity: 0.99;
}


.markdown-source-view::after,.markdown-preview-view::after { 
  content: "";
  background-image: url(https://raw.githubusercontent.com/tulu-zulu/study/main/img/B6ACCE8A-6371-49A6-A047-A33BC948EDCB_1_105_c%20Background%20Removed.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  position: absolute;  
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}